Source: openmediavault-example
Section: net
XB-Plugin-Section: multimedia
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-example
Architecture: all
Depends: openmediavault (>= 3.0.67),
         ${misc:Depends}
Description: example plugin
