Source: openmediavault-3-plugin-template
Section: utilities
XB-Plugin-Section: utilities
Priority: optional
Maintainer: DavidB-OMV <https://github.com/DavidB-OMV/OMV3-Plugin-Template>
Homepage: https://github.com/DavidB-OMV/OMV3-Plugin-Template​/
Package: openmediavault-3-plugin-template
Architecture: all
Description: This plugin is a template for development of
 OpenMediaVault 3 plugins.
Version: 1.0.0
